#content-area {
  @include single-transition(left, 0.3s, ease-in-out);
  position: absolute;
  top: 0;
  left: $bsat-sidebar-width;
  right: 0;
  bottom: 0;

  @import 'page_header';
  @import 'page_content';
}
