#page {
  position: absolute;
  top: $navbar-height;
  bottom: 0;
  left: 0;
  right: 0;

  @import 'page/content_area';
}

@mixin closed-sidebar {
  #page #content-area {
    left: 0;
  }
}

body.sidebar-close {
  @include closed-sidebar;
}

@media (max-width: $screen-sm-min) {
  @include closed-sidebar;
}

body.no-sidebar {
  #page #content-area {
    @include single-transition(none);
    left: 0;

    #page-header {
      padding-left: $bsat-page-header-padding;
    }
  }
}

body.no-page-header {
  #page #content-area {
    #content {
      top: 0;
    }
  }
}
