@mixin closed-left-sidebar {
  #content-area {
    left: 0;
  }

  #left-sidebar-wrapper {
    #left-sidebar-toggle-button {
      left: 0 !important;
    }

    #sidebar {
      left: -$bsat-sidebar-width !important;
    }
  }
}

@mixin opened-left-sidebar {
  #content-area {
    left: $bsat-sidebar-width;
  }

  #left-sidebar-wrapper {
    #left-sidebar-toggle-button {
      left: $bsat-sidebar-width;
    }

    #sidebar {
      left: 0;
    }
  }
}

@mixin closed-right-sidebar {
  #right-sidebar-wrapper {
    #right-sidebar-toggle-button {
      right: 0;
    }

    #sidebar {
      right: -$bsat-sidebar-width;
    }
  }
}

@mixin opened-right-sidebar {
  #right-sidebar-wrapper {
    #right-sidebar-toggle-button {
      right: $bsat-sidebar-width;
    }

    #sidebar {
      right: 0;
    }
  }
}

@include opened-left-sidebar;

#left-sidebar-wrapper {
  $z-index: 1001;

  #left-sidebar-toggle-button {
    @include single-transition(left, 0.3s, ease-in-out);
    z-index: $z-index;
  }

  #sidebar {
    @include single-transition(left, 0.3s, ease-in-out);
    box-shadow: -1px 0 1px darken($bsat-sidebar-background-color, 10%) inset;
    left: 0;
    z-index: $z-index;
  }
}

@include opened-right-sidebar;

#right-sidebar-wrapper {
  $z-index: 1001;

  #right-sidebar-toggle-button {
    @include single-transition(right, 0.3s, ease-in-out);
    z-index: $z-index;
  }

  #sidebar {
    @include single-transition(right, 0.3s, ease-in-out);
    box-shadow: 1px 0 1px darken($bsat-sidebar-background-color, 10%) inset;
    right: 0;
    z-index: $z-index;
  }
}

.sidebar-toggle-button {
  position: absolute;
  top: 0;
  width: $bast-sidebar-toggle-button-width;
  height: $bsat-page-header-height;
  line-height: $bsat-page-header-height;
  text-align: center;
  background-color: $bsat-sidebar-background-color;
  &:before {
    @extend .fa;
    @extend .fa-bars;
  }
}

#sidebar {
  position: absolute;
  top: 0;
  bottom: 0;
  width: $bsat-sidebar-width;
  background: $bsat-sidebar-background-color;
  box-sizing: border-box;
  overflow: hidden;

  @import 'sidebar/nav';
}

body {
  overflow: hidden;

  &.left-sidebar-close {
    @include closed-left-sidebar;
  }

  &.left-sidebar-open {
    @include opened-left-sidebar;
  }

  &.right-sidebar-close {
    @include closed-right-sidebar;
  }

  &.right-sidebar-open {
    @include opened-right-sidebar;
  }
}

@media (max-width: $screen-sm-min) {
  @include closed-left-sidebar;
  @include closed-right-sidebar;
}
