@mixin closed-sidebar {
  #sidebar-toggle-button {
    left: 0;
  }

  #sidebar {
    left: -$bsat-sidebar-width;
  }
}

@mixin opened-sidebar {
  #sidebar-toggle-button {
    left: $bsat-sidebar-width;
  }

  #sidebar {
    left: 0;
  }
}

#sidebar-wrapper {
  $z-index: 1001;

  @include opened-sidebar;

  #sidebar-toggle-button {
    @include single-transition(left, 0.3s, ease-in-out);
    position: absolute;
    z-index: $z-index;
    top: 0;
    left: $bsat-sidebar-width;
    width: $bast-sidebar-toggle-button-width;
    height: $bsat-page-header-height;
    line-height: $bsat-page-header-height;
    text-align: center;
    background-color: $bsat-sidebar-background-color;
    &:before {
      @extend .fa;
      @extend .fa-bars;
    }
  }

  #sidebar {
    @include single-transition(left, 0.3s, ease-in-out);
    position: absolute;
    z-index: $z-index;
    left: 0;
    top: 0;
    bottom: 0;
    width: $bsat-sidebar-width;
    background: $bsat-sidebar-background-color;
    box-shadow: -1px 0 1px darken($bsat-sidebar-background-color, 10%) inset;
    box-sizing: border-box;
    overflow: hidden;

    @import 'sidebar/nav';
  }
}

body.sidebar-close {
  #sidebar-wrapper {
    @include closed-sidebar;
  }
}

body.sidebar-open {
  #sidebar-wrapper {
    @include opened-sidebar;
  }
}

@media (max-width: $screen-sm-min) {
  #sidebar-wrapper {
    @include closed-sidebar;
  }
}
