$bsat-sidebar-width: 180px !default;

$bsat-sidebar-background-color: #f2f7fa !default;
$bsat-sidebar-text-color: #042333 !default;
$bsat-sidebar-icon-color: #48545a !default;

$bsat-sidebar-active-background-color: #479ccf !default;
$bsat-sidebar-active-text-color: #fff !default;
$bsat-sidebar-active-icon-color: #fff !default;
$bsat-sidebar-active-border-color: #348bb0 !default;

$bsat-sidebar-hover-background-color: #dfeaf0 !default;
$bsat-sidebar-hover-text-color: $bsat-sidebar-text-color !default;
$bsat-sidebar-hover-icon-color: $bsat-sidebar-icon-color !default;
$bsat-sidebar-hover-border-color: #cbd9e0 !default;

$bsat-page-header-height: 65px !default;
$bsat-page-header-margin-bottom: 20px !default;
$bsat-page-header-background-color: rgba(#fff, .95) !default;
$bsat-page-header-bottom-border: 1px solid #eaeaea !default;
$bsat-page-header-padding: 15px 10px !default;
